@model IEnumerable<OOPS.DTO.Static.AccessTypeDTO>

<div class="form-group">
    <label class="control-label">Erişim Türü</label>
    <select class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.AccessTypeName</option>
        }

    </select>
</div>