    <div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">İzinler</span>
                        </div>
                        <ul class="nav nav-tabs">

                            <li class="active">
                                <a href="#tab_3" data-toggle="tab">İzinler </a>
                            </li>
                            <li>
                                <a href="#tab_4" data-toggle="tab">Raporlar</a>
                            </li>
                            <li>
                                <a href="#tab_5" data-toggle="tab">Kurallar</a>
                            </li>
                            <li>
                                <a href="#tab_6" data-toggle="tab">Onay Süreçleri</a>
                            </li>



                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <!-- BAŞ GENEL INFO TAB -->
                            <!-- SON GENEL INFO TAB -->
                            <!-- BAŞ KARIYER INFO TAB -->
                            <!-- SON KARIYER INFO TAB -->
                            <!-- BAŞ KISISEL BILGILER INFO TAB -->
                            <div class="tab-pane active" id="tab_3">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="caption">
                                            <span class="caption-subject font-blue-madison bold ">
                                                İzinler
                                            </span>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Ad </th>
                                                            <th> Soyad </th>
                                                            <th> Türü </th>
                                                            <th> Gün </th>
                                                            <th> Başlangıç</th>
                                                            <th> Bitiş </th>
                                                            <th> Oluşturulma Tarihi </th>
                                                          
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                1
                                                            </td>
                                                            <td>
                                                                Ahmet
                                                            </td>
                                                            
                                                            <td>
                                                                Taş
                                                            </td>
                                                            <td>
                                                                Askerlik
                                                            </td>
                                                            <td>
                                                                30
                                                            </td>
                                                            <td>
                                                             15.06.2020

                                                            </td>
                                                            <td>
                                                                15.07.2020
                                                            </td>
                                                            <td>
                                                                10.06.2020
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--/row-üsttekinin içine yaz-->
                                    </div>

                                </form>
                            </div>
                            <!-- SON KISISEL BILGILER INFO TAB -->
                            <!-- BAŞ DIGER BILGILER INFO TAB -->
                            <div class="tab-pane" id="tab_4">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="caption">
                                            <span class="caption-subject font-blue-madison bold ">
                                                Raporlar
                                            </span>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Ad </th>
                                                            <th> Soyad </th>
                                                            <th> Kimlik Numarası </th>
                                                            <th> Şirket </th>
                                                            <th> Şube</th>
                                                            <th> Departman </th>
                                                            <th> Unvan  </th>
                                                            <th> İşe Giriş Tarihi </th>
                                                            <th>Ekstra İzin Günleri</th>
                                                            <th>Çalışma Durumu</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                1
                                                            </td>
                                                            <td>
                                                                Mehmet
                                                            </td>
                                                            <td>
                                                                Taş
                                                            </td>
                                                            <td>
                                                                147852963
                                                            </td>
                                                            <td>
                                                                BilgeAdam
                                                            </td>
                                                            <td>
                                                                İzmir

                                                            </td>
                                                            <td>
                                                                Bilgi İşlem
                                                            </td>
                                                            <td>
                                                                Takım Lideri
                                                            </td>
                                                            <td>
                                                                15.05.2015
                                                            </td>
                                                            <td>
                                                                5
                                                            </td>
                                                           <td>
                                                              Aktif
                                                           </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--/row-üsttekinin içine yaz-->
                                    </div>

                                </form>
                            </div>
                            <!-- SON DIGER BILGILER INFO TAB -->
                            <!-- BAŞ IZINLER INFO TAB -->
                            <div class="tab-pane" id="tab_5">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="caption">
                                            <span class="caption-subject font-blue-madison bold ">
                                                Kurallar
                                            </span>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr>
                                                            <th> Ad </th>
                                                            <th> İzin Türleri </th>
                                                            <th> Çalışan Sayısı </th>
                                                            <th> Açıklma  </th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Örnek Türk İş Kanunu Kuralı
                                                            </td>
                                                            <td>
                                                                13 tür
                                                            </td>
                                                            <td>
                                                                21 çalışan
                                                            </td>
                                                            <td>
                                                                İzin kuralı ve türleri Türk İş Kanunu'nu temel almaktadır.
                                                            </td>
                                                            
                                                         
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--/row-üsttekinin içine yaz-->
                                    </div>

                                </form>
                            </div>
                            <!-- SON IZINLER INFO TAB -->
                            <!-- BAŞ ODEMELER INFO TAB -->
                            <div class="tab-pane" id="tab_6">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="caption">
                                            <span class="caption-subject font-blue-madison bold ">
                                                Onay Süreçleri
                                            </span>
                                            <button type="button" class="btn btn-circle btn-success btn pull-right">Yeni Süreç Ekle</button>
                                        </div>
                                      
                                        <div class="portlet-body">
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Süreç Adı </th>
                                                            <th> Onaylayacak Kişi veya Kişiler </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                1
                                                            </td>
                                                            <td>
                                                                Yıllık İzin Onay Süreci
                                                            </td>
                                                            <td>
                                                                İnsan Kaynakları
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--/row-üsttekinin içine yaz-->
                                    </div>

                                </form>
                            </div>
                            <!-- SON ODEMELER INFO TAB -->
                            <!-- BAŞ ZIMMETLER INFO TAB -->
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
    </div>

