<div class="portlet light ">

    <div class="portlet-body">
        <div class="tiles">
            <div class="tile double-down bg-blue-hoki">
                <div class="tile-body">
                    <i class="fa fa-bell-o"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Bildirimler </div>
                    <div class="number"> 6 </div>
                </div>
            </div>
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Toplantılar </div>
                    <div class="number"> 12 </div>
                </div>
            </div>
            <div class="tile double selected bg-green-turquoise">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>oopshr@hotmail.com</h4>
                    <p> OopsHR Hizmet vermeye başladı! </p>

                    <p> 3 Haziran 2020 21:00 İlk Toplantı... </p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="number"> 14 </div>
                </div>
            </div>
            <div class="tile selected bg-yellow-saffron">
                <div class="corner"> </div>
                <div class="tile-body">
                    <i class="fa fa-user"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Kişiler </div>
                    <div class="number"> 452 </div>
                </div>
            </div>
            <div class="tile double bg-blue-madison">
                <div class="tile-body">
                    <img src="../assets/pages/media/profile/photo1.jpg" alt="">
                    <h4>Duyurular</h4>
                    <p>Ortaya çıkan oluşum hepimizi sevindirdi. </p>
                </div>
                <div class="tile-object">
                    <div class="name"> Ahmet Taş </div>
                    <div class="number"> 24 Temmuz 2020 </div>
                </div>
            </div>
            <div class="tile bg-purple-studio">
                <div class="tile-body">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Siparişler </div>
                    <div class="number"> 121 </div>
                </div>
            </div>
            <div class="tile image selected">
                <div class="tile-body">
                    <img src="../assets/pages/media/gallery/image2.jpg" alt="">
                </div>
                <div class="tile-object">
                    <div class="name"> Medya </div>
                </div>
            </div>
            <div class="tile bg-green-meadow">
                <div class="tile-body">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Geri Bildirim </div>
                    <div class="number"> 12 </div>
                </div>
            </div>
            <div class="tile double bg-grey-cascade">
                <div class="tile-body">
                    <img src="../assets/pages/media/profile/photo2.jpg" alt="" class="pull-right">
                    <h3>ayse_tas</h3>
                    <p> Ortaya çıkan oluşum hepimizi sevindirdi.Tebrikler.. </p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="number"> 10:45, 23 Tem </div>
                </div>
            </div>
            <div class="tile bg-red-intense">
                <div class="tile-body">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="tile-object">
                    <div class="name">Buluşmalar  </div>

                </div>
            </div>
            <div class="tile bg-green">
                <div class="tile-body">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Raporlar </div>
                    <div class="number"> </div>
                </div>
            </div>
            <div class="tile bg-blue-steel">
                <div class="tile-body">
                    <i class="fa fa-folder"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Dökümanlar </div>
                    <div class="number"> 25 </div>
                </div>
            </div>
            <div class="tile image double selected">
                <div class="tile-body">
                    <img src="../assets/pages/media/gallery/image4.jpg" alt="">
                </div>
                <div class="tile-object">
                    <div class="name"> Galeri </div>

                </div>
            </div>
            <div class="tile bg-yellow-lemon selected">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <i class="fa fa-cogs"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Ayarlar </div>
                </div>
            </div>
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-plane"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Projeler </div>
                    <div class="number"> 34 </div>
                </div>
            </div>
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-desktop"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Fazla Mesai   </div>
                    <div class="number"> 34 </div>
                </div>
            </div>
            <div class="tile double bg-blue-madison">
                <div class="tile-body">
                    <img src="../assets/pages/media/profile/photo1.jpg" alt="">
                    <h4>Koray Özdemir</h4>
                    <p>Tüm ekibimizle iyi bir iş çıkardık. </p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="number"> 03 Haziran 2020 </div>
                </div>
            </div>
            <div class="tile bg-red-sunglo">
                <div class="tile-body">
                    <i class="fa fa-money"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Bordro </div>
                    <div class="number"> 12 </div>
                </div>
            </div>
            <div class="tile bg-yellow-lemon selected">
                <div class="tile-body">
                    <i class="fa fa-battery-full"></i>
                </div>
                <div class="tile-object">
                    <div class="name"> Performans Değerlendirme </div>
                </div>
            </div>
            <div class="tile double bg-blue-madison">
                <div class="tile-body">
                    <h4>Instagram</h4>
                    <p>Instagram hesabımız artık aktif! </p>
                    <p>Kullanıcı sayısında artış bekliyoruz</p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="number"> 10 Haziran 2020 </div>
                </div>
            </div>
        </div>
    </div>
</div>
