@model List<PaymentDTO>

<div class="tab-pane" id="tab_4">
    <form action="#" class="horizontal-form">
        <div class="form-body">
            <div class="caption">
                <span class="caption-subject font-blue-madison bold ">
                    Ödemeler
                </span>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Tarih </th>
                                <th> İşlem </th>
                                <th> Tutar </th>
                                <th> Açıklama </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td> @(i+1) </td>
                                    <td> @Model[i].PaymentDate.ToString("dd.MM.yyyy") </td>
                                    <td> Prim </td>
                                    <td> @Model[i].Amount <i class="fa fa-try"> </i> </td>
                                    <td> @Model[i].Description  </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
