@model IEnumerable<OOPS.DTO.Static.ContractTypeDTO>

<div class="form-group">
    <label class="control-label">Sözleşme Türü</label>
    <select class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.ContractName</option>
        }
    </select>
</div>