@{
    ViewData["Title"] = "Home Page";
}
@model UserDTO
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!--Etkinlik Takvimi-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("ActivityCalenders")
                </div>
                <!------------------------>
                <!--Ödeme Talepleri-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("Payments", new { companyId = Model.CompanyID })
                </div>
                <!------------------------>
                <!--Fazla Mesai Talepleri-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("Overtimes" , new { companyId = Model.CompanyID })
                </div>
                <!------------------------>
            </div>
            <div class="row">
                
                <!--Vize Belgesi Talepleri-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("VisaDocumentRequests")
                </div>
                <!------------------------>
                <!--İzin Talepleri-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("Permits", new { companyId = Model.CompanyID})

                </div>
                <!------------------------>
                <!--Yaklaşan İzinler-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("IncomingPermits", new { companyId = Model.CompanyID })
                </div>
                <!------------------------>
            </div>
            <div class="row">
                <!--Resmi Tatiller-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("PublicHolidays")
                </div>
                <!------------------------>
                <!--Avans Talepleri-->
                <div class="col-md-4">
                    @await Component.InvokeAsync("Advances")
                </div>
                <!------------------------>
                <!--Yaklaşan Doğum Günleri-->
                <div class="col-md-4">
                    @*@await Component.InvokeAsync("IncomingBirtdate")*@
                </div>
                <!------------------------>


            </div>


        </div>
    </div>
</div>
